.popup__container {
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding-left: 36px;
    padding-top: 34px;
    padding-right: 36px;
    display: flex;
    flex-direction: column;
    cursor: default;
}

@media screen and (max-width: 500px) {
    .popup__container {
        max-width: 282px;
        padding-left: 22px;
        padding-top: 25px;
        padding-right: 22px;
    }
}