.header {
    max-width: 880px;
    position: relative;
    padding-bottom: 41px;
    padding-top: 45px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(84, 84, 84, 0.7);
    margin: auto;
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 320px;
        padding-bottom: 31.6px;
        padding-top: 28px;
    }
}
